<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> 主页</a>
      </li>
      <li>
        <a href="/admin/manageinfo"><span class="glyphicon glyphicon-user"></span> 管理用户</a>
      </li>
      <li>
        <a href="/admin/viewinfo"><span class="glyphicon glyphicon-user"></span> 查看用户</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/logout"><span class="glyphicon glyphicon-book"></span> 退出</a>
      </li>
    </ul>
  </div>
</nav>
