<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> 主页</a>
      </li>
      <li>
        <a href="https://www.2redbeans.com"><span class="glyphicon glyphicon-user"></span> 两颗红豆</a>
      </li>      
      <li>
        <a href="/mypicture"><span class="glyphicon glyphicon-user"></span> 我的照片</a>
      </li>
      <li>
        <a href="/selectmatch"><span class="glyphicon glyphicon-user"></span> 选择你❤️</a>
      </li>
      <li>
        <a href="/matchresults"><span class="glyphicon glyphicon-user"></span> 心有灵犀</a>
      </li>
      <li>
        <a href="/myprofile"><span class="glyphicon glyphicon-user"></span> 我的简介</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/logout"><span class="glyphicon glyphicon-book"></span> 退出</a>
      </li>
    </ul>
  </div>
</nav>
