<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" >
      <img src="/lang-logo.png">
    </a>
    <h1>选择你😍和❤️的人</h1>


    <p></p>
    <a type="button" class="btn btn-lg btn-default" href="/login"><span class="glyphicon glyphicon-flash"></span>登陆</a>
    <a type="button" class="btn btn-lg btn-primary" href="/register"><span class="glyphicon glyphicon-download"></span>注册</a>
  </div>
</div>



</body>
</html>
