<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script>
  function validateForm() {
      var email = document.forms["myLoginForm"]["email"].value;
      var password = document.forms["myLoginForm"]["password"].value;
      if (email.trim() == "") {
          alert("Email must be filled out");
          return false;
      }
      if (password.trim() == "") {
          alert("Password must be filled out");
          return false;
      }
  }

  $(document).ready(function(){
    $("#myLoginForm").submit(function(event){
      event.preventDefault(); //prevent default action
      var post_url = $(this).attr("action"); //get form action url
      var form_data = $(this).serialize(); //Encode form elements for submission

      $.post( post_url, form_data, function( response ) {
        // console.log('client response!');
        // alert(JSON.stringify(response));
        if(response.message == 'success') {
          // alert(response.redirectUrl);
          window.location.href = response.redirectUrl;
        } else {
          $("#server-results").html( response.message );
        }
      });
    });
  });

  </script>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class = "divcenter">
  <div>
    <img height="50" src="https://d3rmeear8e0ybo.cloudfront.net/app/images/logo/2rb_logo_cn.png" />
  </div>
  <br>
  <div><b>全球高素质华人婚恋交友</b></div>
  <div id="login">
    <br><br>
  <form name="myLoginForm" id="myLoginForm" action="/login" onsubmit="return validateForm()" method="post">
          <input type="email" id="email" name="email" autocorrect="off" autocapitalize="off" placeholder="Enter your email address" />
      <br><br>
          <input type="password" id="password" name="password" placeholder="Enter your Password" />
      <br><br>
          <input class="btn btn-info" type="submit" value="Login" />
          <a href="/register" class="btn btn-info" role="button">Register</a>
          <br><br>
          <div id="server-results"><!-- For server results --></div>
  </form>
  </div>
</div>

</body>
</html>
