<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Match Results</title>
</head>

<body>

  <% include ../partials/navuser.ejs %>

  <div class="divcenter">

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>活动</th>
            <th>日期</th>
            <th>配对结果</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>初秋东湾换桌交友</td>
            <td>9/24（周日）@ 1:30-5:00 pm</td>
            <td>查看配对</td>
          </tr>
        </tbody>
      </table>
  </div>

</body>
</html>
