<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/navuser.ejs %>

  <div class="divcenter">

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Gender</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= user.userid %></td>
            <td><%= user.firstname %></td>
            <td><%= user.gender %></td>
            <td><%= user.email %></td>
          </tr>
        </tbody>
      </table>

  </div>


</body>
</html>
