<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/navuser.ejs %>

<h1>Welcome, <%= user.firstname %> !</h1>
<h2> The worlds best love matching app powered by intelligence<h2>
</body>
</html>
